In [1]:
import pickle
lfd = pickle.load( open( "/media/storage/dpla-data/words/colls.oct/analytics/search_lfd.p", "rb"))
bfd = pickle.load( open( "/media/storage/dpla-data/words/colls.oct/analytics/search_bfd.p", "rb"))
cfd = pickle.load( open( "/media/storage/dpla-data/words/colls.oct/analytics/search_cfd.p", "rb"))

In [2]:
lfd.most_common(10)

[('war', 11913),
 ('history', 10140),
 ('new', 9956),
 ('county', 8867),
 ('library', 8129),
 ('american', 7802),
 ('university', 7550),
 ('georgia', 7248),
 ('john', 6434),
 ('world', 5584)]

In [3]:
bfd.most_common(10)

[(('new', 'york'), 5201),
 (('united', 'states'), 4251),
 (('world', 'war'), 3864),
 (('civil', 'war'), 3267),
 (('south', 'carolina'), 2313),
 (('north', 'carolina'), 1983),
 (('public', 'library'), 1790),
 (('african', 'american'), 1194),
 (('civil', 'rights'), 1075),
 (('digital', 'library'), 1023)]

In [4]:
cfd[lfd.most_common(1)[0][0]].most_common(10)

[('ii', 1022),
 ('1861', 535),
 ('2', 488),
 ('1914', 426),
 ('1', 298),
 ('1939', 287),
 ('world', 272),
 ('two', 235),
 ('one', 180),
 ('women', 149)]

In [5]:
all_words = pickle.load( open( "/media/storage/dpla-data/words/colls.oct/pickles/all_ldf.p", "rb" ) )

In [6]:
all_words.most_common(20)

[('county', 3355172),
 ('states', 2967798),
 ('united', 2886523),
 ('1', 1991414),
 ('texas', 1793387),
 ('new', 1255607),
 ('utah', 1245543),
 ('georgia', 1148572),
 ('c', 1042394),
 ('death', 990543),
 ('de', 940296),
 ('newspapers', 923897),
 ('york', 883716),
 ('state', 871883),
 ('north', 867393),
 ('p', 773280),
 ('1939', 758195),
 ('library', 741028),
 ('tex', 727329),
 ('history', 723439)]

In [7]:
colls = ["artstor","biodiv","rumsey","commonwealth","georgia","harvard",
        "ia","getty","kentucky","minnesota","missouri","mwdl","nara","nocar",
        "smiths","socar","texas","gpo","illinois","usc","virginia","nocoll",
        "hathi","nypl"]

for coll in colls:
    #print(coll)
    coll_list = []
    coll_cfd = pickle.load( open( "/media/storage/dpla-data/words/colls.oct/pickles/" + coll + "_cfd.p", "rb" ) )
    print(coll + ": " + str(coll_cfd["county"].most_common(5)))

artstor: [('new', 3411), ('n', 3392), ('del', 255), ('delaware', 46), ('regional', 26)]
biodiv: [('arboretum', 101), ('montana', 100), ('mont', 77), ('massachusetts', 76), ('mass', 72)]
rumsey: [('atlas', 2650), ('atlases', 2159), ('pennsylvania', 1638), ('ohio', 1361), ('n', 1319)]
commonwealth: [('court', 87), ('work', 71), ('mass', 39), ('fair', 24), ('1930', 18)]
georgia: [('ga', 364581), ('library', 201835), ('georgia', 71257), ('obituaries', 50197), ('courts', 5062)]
harvard: [('gaol', 11), ('court', 4), ('borough', 3), ('northampton', 3), ('n', 3)]
ia: [('mass', 332), ('gives', 320), ('massachusetts', 304), ('suffolk', 166), ('new', 125)]
getty: [('museum', 76), ('calif', 45), ('ch√¢teau', 12), ('hospital', 9), ('courthouse', 5)]
kentucky: [('kentucky', 41528), ('news', 915), ('sheet', 493), ('university', 234), ('image', 211)]
minnesota: [('minnesota', 3899), ('kansas', 425), ('courthouse', 421), ('road', 403), ('iowa', 265)]
missouri: [('st', 1070), ('missouri', 432), ('soccer', 292), ('surviving', 283), ('lafayette', 244)]
mwdl: [('utah', 337323), ('idaho', 27941), ('photographs', 16639), ('ariz', 10088), ('historical', 9003)]
nara: [('ed', 53544), ('west', 506), ('new', 450), ('kentucky', 389), ('lst', 365)]
nocar: [('n', 132999), ('north', 60088), ('1901', 8581), ('maps', 2867), ('1902', 2021)]
smiths: [('new', 9450), ('arizona', 6278), ('california', 5535), ('tennessee', 3242), ('maryland', 2753)]
socar: [('c', 49586), ('highway', 2278), ('vernacular', 2058), ('lost', 2026), ('dwellings', 1767)]
texas: [('tex', 199379), ('block', 90489), ('abilene', 42940), ('texas', 41656), ('landscape', 40346)]
gpo: [('n', 1235), ('maps', 963), ('tex', 672), ('water', 490), ('data', 399)]
illinois: [('illinois', 442), ('ill', 36), ('il', 21), ('library', 21), ('courthouse', 16)]
usc: [('1939', 52357), ('general', 948), ('hospital', 934), ('san', 555), ('los', 420)]
virginia: [('va', 1896), ('training', 616), ('c', 494), ('tex', 313), ('n', 236)]
nocoll: [('court', 3), ('sligo', 1), ('city', 1), ('meeting', 1), ('oklahoma', 1)]
hathi: [('n', 2951), ('mich', 2673), ('pa', 1589), ('ill', 1359), ('calif', 1164)]
nypl: [('new', 1329), ('maps', 1165), ('cal', 419), ('v', 264), ('n', 247)]

In [8]:
import pickle

all_bigrams = pickle.load( open( "/media/storage/dpla-data/words/colls.oct/pickles/all_bfd_top10k.p", "rb" ) )

In [9]:
import numpy as np
import pandas as pd

bigrams = []
labels = []
total = []

#" ".join(all_bigrams[:20][0][0])

for bg in all_bigrams[:20]:
    bigrams.append(bg[0])
    labels.append(" ".join(bg[0]))
    total.append(bg[1])

d = {'labels' : pd.Series(labels),
     'total' : pd.Series(total)}

df = pd.DataFrame(d)

df

                 labels    total
0         united states  2852421
1          states texas   956644
2              new york   872149
3     death certificate   554888
4         gordon county   453713
5                   n c   407536
6        north carolina   393496
7             1939 1940   381216
8             fair 1939   379244
9             county ga   365166
10       tex newspapers   362459
11          county utah   338381
12          los angeles   336175
13        places united   306255
14        north america   283352
15          death proof   277430
16  proof certification   277429
17           utah death   277417
18   certification utah   277402
19   business economics   248672

In [10]:
colls = ["artstor","biodiv","rumsey","commonwealth","georgia","harvard",
        "ia","getty","kentucky","minnesota","missouri","mwdl","nara","nocar",
        "smiths","socar","texas","gpo","illinois","usc","virginia","nocoll",
        "hathi","nypl"]

for coll in colls:
    print(coll)
    coll_list = []
    coll_bgs = pickle.load( open( "/media/storage/dpla-data/words/colls.oct/pickles/" + coll + "_bfd.p", "rb" ) )
    for bg in bigrams:
        if bg in coll_bgs: coll_list.append(coll_bgs[bg])
        else: coll_list.append(0)
    df[coll] = pd.Series(coll_list, index=df.index)

df

artstor
biodiv
rumsey
commonwealth
georgia
harvard
ia
getty
kentucky
minnesota
missouri
mwdl
nara
nocar
smiths
socar
texas
gpo
illinois
usc
virginia
nocoll
hathi
nypl

,labels,total,artstor,biodiv,rumsey,commonwealth,georgia,harvard,ia,getty,...,smiths,socar,texas,gpo,illinois,usc,virginia,nocoll,hathi,nypl
0,united states,2852421,577,11919,29616,71466,47849,896,32914,1434,...,282050,8038,1023848,327875,934,2945,17353,15,645601,77807
1,states texas,956644,0,0,46,0,3,0,91,4,...,451,0,955818,19,0,0,16,1,159,1
2,new york,872149,20107,3274,25365,4258,4798,1117,7474,1934,...,28181,3008,3389,4103,1154,1353,1654,2,64207,667426
3,death certificate,554888,0,0,0,2,3,0,1,0,...,0,2,18,2,0,2,0,0,0,0
4,gordon county,453713,0,0,0,0,453686,0,0,0,...,14,0,1,0,0,0,0,0,0,0
5,n c,407536,4,69,90,622,1658,3,54,13,...,486,679,56,853,28,39,468,0,2464,645
6,north carolina,393496,10,624,837,243,3624,8,560,107,...,5317,826,377,1832,60,53,295,1,11306,704
7,1939 1940,381216,11,14,1,144,84,0,202,3,...,411,28,29,2,4,488,0,0,109,379049
8,fair 1939,379244,2,0,0,2,4,0,0,0,...,58,0,0,0,1,0,0,0,14,379124
9,county ga,365166,0,0,4,0,364581,0,1,0,...,2,13,2,8,0,0,193,0,100,23
10,tex newspapers,362459,0,0,0,0,0,0,0,0,...,0,0,362459,0,0,0,0,0,0,0
11,county utah,338381,0,3,7,0,0,0,2,0,...,639,0,5,42,0,0,0,0,120,0
12,los angeles,336175,59,258,794,399,883,5,209,2478,...,3149,162,459,612,24,315365,0,0,2513,1833
13,places united,306255,0,0,1,0,0,0,0,0,...,5,0,306218,6,0,0,0,0,10,0
14,north america,283352,30,3160,3844,462,1008,5,1046,0,...,217111,84,2885,3348,111,2525,20,0,15728,4993
15,death proof,277430,0,0,0,0,0,0,0,0,...,1,0,0,12,0,0,0,0,16,0
16,proof certification,277429,0,0,0,0,0,0,0,0,...,0,0,0,12,0,0,0,0,16,0
17,utah death,277417,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,certification utah,277402,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,business economics,248672,0,0,0,0,2,0,3,0,...,1,0,248460,7,0,0,0,0,52,0

In [11]:
df.to_csv('/media/storage/dpla-data/words/colls.oct/pickles/bigram.new.df.csv')
melted = pd.melt(df, id_vars='labels')
melted.to_csv('/media/storage/dpla-data/words/colls.oct/pickles/bigram.new.melted.csv')